<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Từ khóa</label>
            <input type="text" class="form-control" id="search-input" name="q" placeholder="Nhập từ khóa để tìm kiếm">
        </div>

        <div class="mb-3">
            <label for="gender-input" class="form-label">Từ khóa</label>
            <select class="form-control" id="gender-input" name="gender">
                <option value="">-- Chọn Giới Tính --</option>
                <option value="male">Nam</option>
                <option value="felame">Nữ</option>
            </select>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>